body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c93;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

section {
    background-color: #3a3a3ae5;
    padding: 2em;
    margin: 1em auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#resultado_exi {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.input_01 input, .input_02 input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

#op_3 input {
    background-color: #ffffff;
}

#exibe_produto {
    font-size: 24px;
    text-align: center;
    background-color: #4F4F4F;
    color: #FFFFFF;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

#listaProd li {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#lista_prod li {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    list-style-type: none;
    font-size: 18px;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#lista_prod li h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#lista_prod li h4 {
    font-size: 18px;
    color: green;
    margin-bottom: 10px;
}

#lista_prod li p {
    font-size: 16px;
    color: #555;
}